
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: aliceblue;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
select{
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}